---
import Base from '../layouts/Base.astro';
---
<Base title="Now" sidebar={true}>
  <section class="container prose">
    <h1>Now</h1>
    <p>What I’m focused on this month.</p>
  </section>
</Base>
