---
import Base from "../layouts/Base.astro";
---

<Base title="Uses" sidebar={true}>
  <section class="container prose">
    <h1>Uses</h1>
    <ul>
      <li>Editor: VS Code with minimal plugins.</li>
      <li>Terminal: zsh + zoxide + starship.</li>
      <li>Design: Figma, SF Symbols (for Apple platforms).</li>
    </ul>
  </section>
</Base>
