---
interface Props {
  value?: {
    href?: string;
  };
}

const { value }: Props = Astro.props;
const href = value?.href ?? "";
const _isExternal = /^https?:\/\//i.test(href);
---

<a
  class="articlePortable__link"
  href={href}
  target={_isExternal ? "_blank" : undefined}
  rel={_isExternal ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
