---
interface Props {
  value?: {
    href?: string;
    openInNewTab?: boolean;
  };
}

const { value }: Props = Astro.props;
const href = value?.href ?? "";
const _isExternal = /^https?:\/\//i.test(href);
const _openInNewTab = value?.openInNewTab || _isExternal;
---

<a
  class="articlePortable__link motion-link-inline"
  href={href}
  target={_openInNewTab ? "_blank" : undefined}
  rel={_openInNewTab ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
